//nuevo archivo para colores aun en proceso 
$colors: (
  yellow:  #FCCE5A,
  button-color:    #717CFF,
  gray:  #D8D8D8,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #000,
//   popover:    #404040,
//   unread:       #808080,
//   note:         #666,
  );
 