/* 
    General Styles
*/
// Global Colors

.yellow-star {
    color: #FCCE5A;
}

.button-color {
    color: #717CFF;
}

.gray-back {
    color:#D8D8D8;
}

/*Clase-container-navbar-hero*/
.blue-gradient-bg {
    background-color: #4e80de;
    background: linear-gradient(90deg,#694EDE 1%,#4e80de 40%);
}

//Buttons

.btn-card {
    color: #fff;
    background-color: #717CFF;
}

.btn-card:hover{
    color: #fff;
    background: linear-gradient(90deg,#694EDE 1%,#4e80de 40%);
}
//Navbar
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: lightgray;
}

.navbar li a{
    text-decoration: none;
    color: lightblue;
}

.navbar li {
    padding-left: 30px;
}

.nav-link {
    padding: 0;
}

//box
.box{
    background-color: #717CFF;
    min-height: 500px;
    border-radius: 15px;
   
}
.box-row{
    background-color: #D8D8D8;
    border-radius: 15px;
}
