
form {
    max-width: 480px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 40px;
}

.form-container {
    margin: 100px 0 100px 0;
}

form img{
    width: 10%;
}

.hat img {
    width: auto;
}