.main{
    background:white;
}
.card {
    box-shadow: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border:none;
}
.btn-card {
    color: #fff;
    background-color: #717CFF;
}
